body {
  background-color: #000033;
  color: #FFFFFF;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  color: #FF0000;
}

input {
  width: 300px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #FF0000;
  color: #FFFFFF;
  border-style: none;
}

ul {
  width: 400px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

li {
  margin: 10px;
  padding: 10px;
  background-color: #333366;
  list-style-type: square;
}
